################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/.vs
/SqlTools/.vs/
/SqlTools/SqlTools/bin/
/SqlTools/SqlTools/obj
